.c-number_input{
	display: flex;
	padding: 0 0.06rem;
	color: #000000;
	border-radius: 0.02rem;
	border: 0.01rem solid #293538;
	background-color: rgba(0,0,0,0.2);
	transition: color .3s, background-color .3s;
	touch-action: none;

	&:focus{
		color: #000000;
		background-color: rgba(0,0,0,0.4);
		box-shadow: 0 0 0.02rem 0.01rem rgba(222, 114, 0, 0.3);
	}
}